= semantic_form_for [:admin, @character] do |f|
  = f.inputs "General Info" do
    = f.input :name
    = f.input :race, collection: Character::CHAR_RACES.sort, include_blank: false
    = f.input :char_class, collection: Character::CHAR_CLASSES.sort, include_blank: false
    = f.input :age
    = f.input :sex, collection: ['male', 'female']
    = f.input :description

  = f.inputs "Physical Attributes", class: 'attributes' do
    = f.input :constitution
    = f.input :strength
    = f.input :speed

  = f.inputs "Mental Attributes", class: 'attributes' do
    = f.input :charisma
    = f.input :intelligence
    = f.input :willpower

  = f.inputs "Other Attributes", class: 'attributes' do
    = f.input :mana
    = f.input :reaction, disabled: true
    = f.input :essence
    = f.input :initiative
  .clear


  = f.inputs "Carried Items" do
    = f.input :cyberware
    = f.input :gear
    = f.input :weapons
    = f.input :armor_items
    = f.input :ballistic_armor
    = f.input :burst_armor

  = f.inputs "Impalpable Items" do
    = f.input :skills
    = f.input :connections
    = f.input :other_stuff

  = f.inputs "Spells", id: 'char_spells' do
    = f.input :spells, as: :check_boxes

  = f.inputs "Who shall see it?" do
    = f.input :visibility, collection: Character::CHAR_VISIBILITIES.sort, include_blank: false
    = f.input :admin_user_id, as: :hidden, value: @character.admin_user_id || current_admin_user.id

  = f.actions

:css
  .attributes{
    width: 405px;
    float: left;
    margin-left: 2px;
    margin-right: 2px;
  }

  #character_cyberware,
  #character_gear,
  #character_weapons,
  #character_armor_items,
  #character_skills,
  #character_connections,
  #character_other_stuff,
  #character_description{
    height: 120px;
  }
  .hidden{
    display: none;
:javascript

  $('#character_intelligence').on('change', function(){
    calculateReaction();
  });

  $('#character_speed').on('change', function(){
    calculateReaction();
  });

  calculateReaction = function(){
    var $int = parseInt( $('#character_intelligence').val() );
    var $speed = parseInt( $('#character_speed').val() );
    if ($int != 0 && $speed != 0){
      $('#character_reaction').val( Math.floor( (( $int + $speed ) / 2) ) );
    } else {
      $('#character_reaction').val(0);
    }
  };

  $('#character_char_class').on('change', function(){
    value = this.options[this.selectedIndex].innerHTML;
    if(value == 'sorcerer' || value == 'shaman' || value == 'aspect-wizard'){
      $('#char_spells').css('display', 'block');
    } else {
      $('#char_spells').css('display', 'none');
    }
  });

